<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><i class="fas fa-code"></i> with <i class="fas fa-band-aid"></i> + <i class="far fa-grin-beam-sweat"></i> + <i class="far fa-sad-cry"></i> by KM, <i class="far fa-copyright"></i> 2018</p>
    </section>
</section>
